  <div class="container mt-5">
       
        <h1 class="text-center mb-4">Thank you for your submission</h1>

     
        <div class="d-flex justify-content-center">
            <a href="/takeSurvey" class="btn btn-primary">Go back to surveys</a>
        </div>
    </div>