<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="Content/app.css">
</head>
<body>
    <header>
        <div class="home-header-container">
            <div class="home-header-column">
                <div>
                    <a href="/">
                        <img src="#" alt="SurveySpark header logo">
                    </a>
                </div>
                <div>
                    <ul class="home-header-nav-bar">
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="/company">Company</a>
                        </li>
                        <li>
                            <a href="/resources">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="home-header-column">
                <div>
                    <a href="/login">Log in</a>
                </div>
                <div>
                    <a href="/sign-up">Sign up free</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    

    <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
