{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section class="home-masthead blue">
    <div class="home-masthead-container">
        <div>
            <h1>{ Brilliant forms offer infinite possibilities }</h1>
        </div>
        <div>
            <h2>We believe that the right form makes all the difference. That's why we launched SurveySpark.</h2>
        </div>
        <div class="home-masthead-nav">
            <div class="home-get-started-btn-main button">
                <a href="/get-started">Get started</a>
            </div>
            <div class="home-watch-demo-btn button">
                <a href="/demo">Watch demo</a>
            </div>
        </div>
    </div>
</section>