{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section class="home-masthead blue">
    <div class="home-masthead-container">
        <div>
            <h1>{ Brilliant forms offer infinite possibilities }</h1>
        </div>
        <div>
            <h2>We believe that the right form makes all the difference. That's why we launched SurveySpark.</h2>
        </div>
        <div class="home-masthead-nav">
            <div class="home-get-started-btn-main button">
                <a href="/get-started">Get started</a>
            </div>
            <div class="home-watch-demo-btn button">
                <a href="/demo">Watch demo</a>
            </div>
        </div>
    </div>
</section>
<section class="home-product-stats white">
    <div class="home-product-stats-container">
        <div class="home-product-stat">
            <div>
                <h1>16+ million</h1>
            </div>
            <div>
                <p>active users worldwide</p>
            </div>
        </div>
        <div class="home-product-stat">
            <div>
                <h1>20+ million</h1>
            </div>
            <div>
                <p>questions answered daily</p>
            </div>
        </div>
        <div class="home-product-stat">
            <div>
                <h1>81+ million</h1>
            </div>
            <div>
                <p>user surveys created</p>
            </div>
        </div>
    </div>
</section>
<section class="home-features white">
    <div class="home-features-container">
        <div class="home-features-title">
            <h1>{ Uncover SurveySpark }</h1>
            <p>Explore endless benefits and possibilities with our specialized survey production platform</p>
        </div>
        <div class="home-features-item">
            <div class="home-features-item-row">
                <div class="home-features-item-details">
                    <h1>User-Friendly Interface</h1>
                    <p>With its easy-to-navigate platform, users can quickly design surveys, customize questions, and analyze results without needing extensive technical expertise.</p>
                </div>
                <div class="home-features-item-nav">
                    <div class="home-get-started-btn-main button">
                        <a href="/get-started">Get started</a>
                    </div>
                    <div class="home-watch-demo-btn button">
                        <a href="/demo">Watch demo</a>
                    </div>
                </div>
            </div>
            <div class="home-features-item-row">
                <a href="/get-started">
                    <img src="/Assets/images/home-features-img1.jpg" alt="A woman types on her keyboard">
                </a>
            </div>
        </div>
        <div class="home-features-item">
            <div class="home-features-item-row">
                <div class="home-features-item-details">
                    <h1>Enhanced Flexibility and Customization</h1>
                    <p>SurveySpark offers enhanced flexibility and customization options, allowing users to tailor surveys to their specific needs and preferences</p>
                </div>
                <div class="home-features-item-nav">
                    <div class="home-get-started-btn-main button">
                        <a href="/get-started">Get started</a>
                    </div>
                    <div class="home-watch-demo-btn button">
                        <a href="/demo">Watch demo</a>
                    </div>
                </div>
            </div>
            <div class="home-features-item-row">
                <a href="/get-started">
                    <img src="/Assets/images/home-features-img2.jpg" alt="A startup group gathers while smiling">
                </a>
            </div>
        </div>
        <div class="home-features-item">
            <div class="home-features-item-row">
                <div class="home-features-item-details">
                    <h1>Comprehensive Statistical Insights</h1>
                    <p>Through intuitive dashboards and interactive charts, users can easily visualize key metrics such as response rates, distribution of responses, and trends over time.</p>
                </div>
                <div class="home-features-item-nav">
                    <div class="home-get-started-btn-main button">
                        <a href="/get-started">Get started</a>
                    </div>
                    <div class="home-watch-demo-btn button">
                        <a href="/demo">Watch demo</a>
                    </div>
                </div>
            </div>
            <div class="home-features-item-row">
                <a href="/get-started">
                    <img src="/Assets/images/home-features-img3.jpg" alt="A screen shows data on page views">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="home-get-started blue">
    <div class="home-get-started-container">
        <div>
            <h1>Let's get started.</h1>
        </div>
        <div>
            <div class="home-learn-more-btn button">
                <a href="/get-started">Learn more</a>
            </div>
        </div>
    </div>
</section>