<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <!-- CSS Section -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="Content/app.css">
</head>
<body>
    <header class="home-header">
        <div class="home-header-container">
            <div class="home-header-column">
                <div>
                    <a href="/">
                        <img src="../../Client/Assets/images/home-header-logo.svg" alt="SurveySpark header logo">
                    </a>
                </div>
                <div>
                    <ul class="home-header-nav-bar">
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="/company">Company</a>
                        </li>
                        <li>
                            <a href="/resources">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="home-header-column">
                <div class="home-login-btn button">
                    <a href="/login">Log in</a>
                </div>
                <div class="home-sign-up-btn button">
                    <a href="/sign-up">Sign up free</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="home-footer">
        <div class="home-footer-container">
            <div class="home-footer-row">
                <div class="home-footer-column">
                    <a href="/">
                        <img src="../../Client/Assets/images/home-footer-logo.svg" alt="SurveySpark footer logo">
                        <p>a SolveSpark company</p>
                    </a>
                </div>
                <div class="home-footer-column">
                    <div class="home-login-btn button">
                        <a href="/login">Log in</a>
                    </div>
                    <div class="home-get-started-btn button">
                        <a href="/get-started">Get started</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="home-footer-row home-middle-footer-row">
                <div class="home-footer-column">
                    <ul class="home-footer-nav">
                        <li class="home-footer-nav-heading">SurveySpark</li>
                        <li>
                            <a href="/get-started">Get started</a>
                        </li>
                        <li>
                            <a href="/login">My forms</a>
                        </li>
                        <li>
                            <a href="/products">Products</a>
                        </li>
                        <li>
                            <a href="/pricing">Pricing</a>
                        </li>            
                    </ul>
                </div>
                <div class="home-footer-column">
                    <ul class="home-footer-nav">
                        <li class="home-footer-nav-heading">Support</li>
                        <li>
                            <a href="/contact">Contact us</a>
                        </li>
                        <li>
                            <a href="/help-center">Help Center</a>
                        </li>
                        <li>
                            <a href="/docs">Docs</a>
                        </li>
                        <li>
                            <a href="/report">Report Abuse</a>
                        </li>            
                    </ul>
                </div>
                <div class="home-footer-column">
                    <ul class="home-footer-nav">
                        <li class="home-footer-nav-heading">Company</li>
                        <li>
                            <a href="/about">About us</a>
                        </li>
                        <li>
                            <a href="/media-kit">Media kit</a>
                        </li>
                        <li>
                            <a href="/newsletters">Newsletters</a>
                        </li>
                        <li>
                            <a href="/partnerships">Partnerships</a>
                        </li>            
                    </ul>
                </div>
                <div class="home-footer-column">
                    <ul class="home-footer-nav">
                        <li class="home-footer-nav-heading">Community</li>
                        <li>
                            <a href="/developers">Developers</a>
                        </li>
                        <li>
                            <a href="#">Facebook</a>
                        </li>
                        <li>
                            <a href="#">Twitter</a>
                        </li>
                        <li>
                            <a href="#">LinkedIn</a>
                        </li>            
                    </ul>
                </div>
            </div>
            <div class="home-footer-row">
                <div class="home-footer-column">
                    <p>Copyright © 2024 SurveySpark, Inc. All Rights Reserved.</p>
                </div>
                <div class="home-footer-column">
                    <ul class="home-footer-legal-nav">
                        <li>
                            <a href="/privacy-policy">Privacy Policy</a>
                        </li>
                        |
                        <li>
                            <a href="/terms-of-use">Terms of Use</a>
                        </li>
                        |
                        <li>
                            <a href="https://github.com/fconiglione/SurveySpark" target="_blank">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Script Section -->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
