/* Fixes the non-bottom positioned footer */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.survey-index {
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 3%;
    padding-bottom: 5%;
}