/* About Page */
  
.about-page {
    box-sizing: border-box;
    padding: 0;
}
  
.about-page, .about-page:before, .about-page:after {
    box-sizing: inherit;
}

.about-page .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
.about-page .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
.about-page .about-section {
    padding: 5% 3%;
    text-align: center;
    background-color: #4054ec;
    color: white;
}
  
.about-page .container {
    padding: 16px;
}

.about-section h1 {
    font-weight: 600;
    font-size: 4em;
    padding: 30px 0;
}
.about-section p {
    font-size: 1.5em;
}
  
.about-page .container::after, .about-page .row::after {
    content: "";
    clear: both;
    display: table;
}

.about-page .row {
    padding: 1% 3%;
    margin-right: 0;
    margin-left: 0;
}
  
.about-page .title {
    color: grey;
}
  
.about-page .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.about-page .button:hover {
    background-color: #555;
}

.about-page img {
    height: 350px;
    width: auto;
    object-fit: cover;
}

.meet-the-team-title {
    text-align: center;
    margin: 50px 0;
    font-size: 3em;
    font-weight: 600;
}
  
@media screen and (max-width: 1188px) {
    .about-page .column {
        width: 100%;
        display: block;
    }
}

/* Homepage Responsiveness */

@media screen and (max-width: 619px) {
    .home-product-stats-container {
        flex-direction: column !important;
    }
    .home-product-stat {
        width: 100%;
    }
    .home-masthead-container h1 {
        font-size: 3em !important;
    }
    .contact-masthead h1, .about-page h1 {
        font-size: 3em !important;
    }
}

@media screen and (max-width: 693px)
{
    .home-features-item .home-features-item-row {
        flex-basis: 100%;
    }
    .home-features-item .home-features-item-row:last-child {
        display: none;
    }
    .home-features-item {
        padding: 6% !important;
    }
}

/* Contact Page */

.contact-section {
    background-color: #4054ec;
    color: #ffffff;
    text-align: center;
    padding: 5% 3%;
}
.contact-section h1 {
    font-weight: 600;
    font-size: 4em;
    padding: 30px 0;
}
.contact-section p {
    font-size: 1.5em;
}

.contact .row {
    width: 100% !important;
}

.contact .col-md-6 {
    width: 100% !important;
}

/* Services Page */

.services-section:first-child {
    background-color: #4054ec !important;
    color: #ffffff;
    text-align: center;
    padding: 5% 3%;
}
.services-section h1 {
    font-weight: 600;
    font-size: 4em;
    padding: 30px 0;
}
.services-section p {
    font-size: 1.5em;
}