<div class="container mt-5">
    <h2>Edit Question</h2>
    <form  method="POST" class="mt-3">
        <div class="form-group">
            <label for="text">Question Text</label>
            <input type="text" class="form-control" id="text" name="text" value="{{question.text}}" required>
        </div>
        {{!-- <div class="form-group">
            <label for="type">Question Type</label>
            <select class="form-control" id="type" name="type" required >
                <option value="">Select Type</option>
                <option value="Multiple Choice" {{ifCond question.type "===" "Multiple Choice"}}selected{{/ifCond}}>Multiple Choice</option>
                <option value="Short Answer" {{ifCond question.type "===" "Short Answer"}}selected{{/ifCond}}>Short Answer</option>
            </select>
        </div>
       --}}
        <button type="submit" class="btn btn-primary">Update Question</button>
    </form>
</div>


