{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}

<section class="about-page">
    <div class="about-section">
        <h1>About Us Page</h1>
        <p>Every great journey begins with a story. Ours started when a group of passionate data enthusiasts came together with a shared vision: to revolutionize how businesses collect and interpret insights. We believe that every data point tells a story, and we’re here to help you uncover those narratives.</p>
        <p>Our purpose is crystal clear: <strong>empowering informed decisions.</strong> We understand that data isn’t just numbers; it’s the heartbeat of your organization. Whether you’re a startup, a nonprofit, or an enterprise, we’re committed to providing you with actionable intelligence.</p>
        <p>Remember, at SurveySpark, we’re not just about surveys; we’re about illuminating possibilities. Explore our services, meet our team, and let’s make some surveys!</p>
    </div>
    <h2 class="meet-the-team-title">Meet The Team</h2>
    <div class="row">
    <div class="column">
        <div class="card">
        <img src="/Assets/images/franco-img.png" alt="Francesco Coniglione black/white photo">
        <div class="container">
            <h2>Francesco Coniglione</h2>
            <p class="title">Project Owner</p>
            <p>As product owner, Francesco represents the voice of the client. He will be responsible for managing the product backlog and prioritizing user stories. Most recently, Francesco has worked to build basic web applications using React.js and Node.js. He presents a combination of leadership and organization skills that compliment his project planning abilities. Additionally, Francesco has a strong passion for fintech, specifically blockchain technology.</p>
            <p>faconigl@lakeheadu.ca</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="/Assets/images/miran-img.png" alt="Miran Qarachatani black/white photo">
        <div class="container">
            <h2>Miran Qarachatani</h2>
            <p class="title">Scrum Master</p>
            <p>As Scrum master, Miran is a facilitator who ensures the team adheres to Scrum practices. He will be responsible for managing sprints, boards, and monitoring team progress. Miran has a strong background working with Python, especially with the scikit-learn machine learning libraries. He brings a valuable skill set to facilitate Agile processes. As indicated, Miran has a passion for artificial intelligence and machine learning technologies.</p>
            <p>maqarach@lakeheadu.ca</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
        <img src="/Assets/images/hans-img.png" alt="Hans Urama black/white photo">
        <div class="container">
            <h2>Hans Urama</h2>
            <p class="title">Product Developer</p>
            <p>As product developer, Hans helps build, launch, and deliver the final product. He will work on project issues, view boards, and manage the project workload. Hans offers a unique skillset to the development team, with much of his expertise coming in the form of ASP.NET and Python. He is a robust problem-solver with the ability to think through and solve complex problems. Hans also shows a passion for artificial intelligence technologies.</p>
            <p>hcurama@lakeheadu.ca</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>
    </div>
</section>

{{!-- <section class="about-header">
    <h1>What is SurveySpark?</h1>
</section>
<section class="about-h2">
    <h2>Our Story, Our Mission</h2>
    <p>Welcome to our website!
        SurveySpark is a company that provides survey services to businesses and organizations. 
        We are dedicated to helping our clients gather the information they need to make informed decisions.
        Our mission is to provide our clients with the tools they need to gather the information they need to make informed decisions.
    </p>
</section>
<section class="team">
    <h2>Meet the Team</h2>
    <p>We are the people that bring the spark to the survey</p>
    <ul>
        <li><strong>Francesco Coniglione</strong></li>
        <li><strong>Miran Qarachatani</strong></li>
        <li><strong>Hans Urama</strong></li>
    </ul>
</section> --}}