<<<<<<< HEAD
{{!-- Hans --}}
{{!-- 2024-01-31 --}}
<section class="about-header">
    <h1>What is SurveySpark?</h1>
</section>
<section class="about-h2">
    <h2>Our Story, Our Mission</h2>
    <p>Welcome to our website!
        SurveySpark is a company that provides survey services to businesses and organizations. 
        We are dedicated to helping our clients gather the information they need to make informed decisions.
        Our mission is to provide our clients with the tools they need to gather the information they need to make informed decisions.
    </p>
</section>
<section class="team">
    <h2>Meet the Team</h2>
    <p>We are the people that bring the spark to the survey</p>
    <ul>
        <li><strong> Francesco Coniglione</strong></li>
        <li><strong>Miran Qarachatani</strong></li>
        <li><strong>Hans Urama</strong></li>
    </ul>
=======
{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section>
    <h1>About page</h1>
>>>>>>> a07c3206a1c81673ca1a3498652b987dd9e83d72
</section>