{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section class="docs">
    <div class="docs-intro">
        <h1>How to Use SurveySpark</h1>
        <p>SurveySpark is a user-friendly, dynamic survey platform designed to make creating 
            and managing surveys a breeze. It's one of the most intuitive and powerful survey 
            tools available.</p>
    </div>
</section>