{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section class="docs">
    <div class="docs-intro">
        <h1>Create Powerful & Engaging Surveys with SurveySpark</h1>
        <p>SurveySpark is a user-friendly, dynamic survey platform designed to make creating 
            and managing surveys a breeze. It's one of the most intuitive and powerful survey 
            tools available.
            </p>
    </div>
    <div class="docs-content">
        <h2>Getting Started with SurveySpark</h2>
        <p>Follow these simple steps to start creating and managing surveys with SurveySpark:</p>
        <ul>
            <li>Find the "Surveys" section in the navigtation bar and click on it</li>
            <li>You will be redirected to a dashboard section and in that secion, 
                click on the "Add Survey" button if you want to create a new survey
                </li>
            <li>Fill in the details of the survey you want to create and click "Create Survey" to create it</li>
            <li>As you click the button, you will be redirected to the dashboard section </li>
        </ul>
    </div>
</section>