{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
<section class="get-started">
    <div class="get-started-container">
        <div class="get-started-column">
            <div>
                <img src="/Assets/images/logo-img-white.svg" alt="Official SurveySpark logo in white">
            </div>
            <div>
            <h1>Ready to bring your survey ideas to life?</h1>
            <p>Sign up at <strong>no cost</strong> and join the millions of users already making surveys with SurveySpark open-source software. <a href="/login">Already have an account?</a></p>
        </div>
        <div>
            <a class="sign-up-btn" href="/sign-up">Sign up for FREE</a>
        </div>
        </div>
        <div class="get-started-column">
            <img src="/Assets/images/get-started-graphic.svg" alt="Two window views of people working from home">
                {{!-- Sourced under the Pixabay Content License from: https://pixabay.com/vectors/work-home-laptop-blogging-author-4997565/ --}}
        </div>
    </div>
    </section>