<section class="forgot-password">
  <div class="forgot-password-container">
    <div class="forgot-password-box">
      <div class="forgot-password-logo">
        <a href="/">
          <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark official logo">
        </a>
      </div>
      <div>
        <h1>Forgot Password</h1>
        <p>Please enter your email address to reset your password.</p>
      </div>
      <div>
        <form method="post">
          <fieldset>
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
          </fieldset>
          <button type="submit" class="forgot-password-submit-btn">Reset Password</button>
        </form>
      </div>
      <div class="forgot-password-nav">
        <a href="/login">Back to Login</a>
      </div>
    </div>
  </div>
</section>