{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}
{{#if messages}}
<p class="alert alert-danger">{{messages}}</p>
{{/if}}
<section class="login">
    <div class="login-container">
        <div class="login-box">
            <div class="login-featured-img">
                <img src="/Assets/images/login-img.png" alt="An illustration of people taking online surveys">
                {{!-- Sourced under the Pixabay Content License from: https://pixabay.com/illustrations/social-media-social-marketing-5187243/ --}}
            </div>
            <div class="login-box-details">
                <div class="login-logo">
                    <a href="/login">
                    <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark official logo">
                    </a>
                </div>
                <div>
                    <h1>Login</h1>
                    <p>Please login to continue. <a href="/auth/register">New to SurveySpark?</a></p>
                </div>
                <div>
                    <form method="post">
                        <fieldset>
                            <input type="username" id="username" name="username" placeholder="Enter your email address" required >
                        </fieldset>
                        <fieldset>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required >
                        </fieldset>
                        {{!-- <a href="/forgot-password">Forgot your password?</a> --}}
                        <button type="submit" class="login-submit-btn">Login</button>
                    </form>
                </div>
                <div class="login-nav">
                    <div>
                        <p>Or<br /> Login with</p>
                    </div>
                    <div>
                        <a href="/auth/google">
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>