<body>
    <div class="container mt-5">
        <h2>Add New Option</h2>
        <form action="/survey/{{surveyId}}/questions/{{questionId}}/options/add" method="POST" class="mt-3">
            <div class="form-group">
                <label for="optionText">Option Text</label>
                <input type="text" class="form-control" id="optionText" name="text" placeholder="Enter option text" required>
            </div>
            <div class="form-group">
                <label for="optionValue">Option Value</label>
                <input type="text" class="form-control" id="optionValue" name="value" placeholder="Enter option value" required>
            </div>
            <div class="form-group">
                <label for="nextSection">Next Section</label>
                <select class="form-control" id="nextSection" name="nextSection">
                    <option value="">Select a section (optional)</option>
                    {{#each surveySections}}
                    <option value="{{this._id}}">{{this.title}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add Option</button>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>