<div class="container mt-5">
    <h2>Edit Option</h2>
    <form  method="post" class="mt-3">
        <div class="form-group">
                <label for="optionText">Option Text</label>
                <input type="text" value="{{option.text}}"  class="form-control" id="optionText" name="text" placeholder="Enter option text" required>
        </div>
        <div class="form-group">
            <label for="optionValue">Option Value</label>
            <input type="text" value="{{option.value}}" class="form-control" id="optionValue" name="value" placeholder="Enter option value" required>
        </div>
        <div class="form-group">
          <div class="mb-3">
            <label for="nextSection" class="form-label">Next Section:</label>
            <select class="form-select" id="nextSection" name="nextSection">
                <option value="">Continue to Next Section by Order</option>
                {{#each allSections}}
                <option value="{{this._id}}" {{#ifCond this._id '===' @root.option.nextSection}}selected{{/ifCond}}>{{this.title}}</option>
                {{/each}}
            </select>
        </div>
        </div>
      
        <button type="submit" class="btn btn-primary">Update Question</button>
    </form>
</div>


